@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: grid;
  align-content: center;
  width: 100%;
  min-width: 300px;

  .navBarMob {
    display: none;
  }

  header {
    height: 80vh;
    min-height: 400px;
    max-height: 1000px;
    padding-top: 3%;
    background-image: url("../images/pexels-asad-photo-maldives-3601422.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navBar {
      height: 90px;
      width: 80%;
      min-width: max-content;
      background-color: white;
      margin: 0 auto;
      padding: 20px;
      box-shadow: 2px 2px 2px gray, -2px 2px 2px gray, 2px -2px 2px gray,
        -2px -2px 2px gray;
      display: grid;
      grid-template-columns: 40% auto auto auto auto;
      align-content: center;

      img {
        height: 30px;
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
      }

      button {
        padding: 5px;
        border: none;
        background-color: white;
        color: blue;
        font-size: 13px;
        cursor: pointer;
        height: 90px;
      }
      button:focus {
        outline: none;
      }
      .active,
      button:hover {
        outline: none;
        color: black;
        background-color: lightgrey;
      }
    }
  }
  .content {
    .holderDiv {
      width: 80%;
      background-color: rgb(241, 241, 241);
      margin: 0 auto;
      margin-top: -150px;
      margin-bottom: -40px;

      .userComments {
        background-color: white;
        width: 80%;
        height: max-content;
        margin: 50px auto;
        position: relative;
        top: -75px;
        text-align: center;

        img {
          border: white 3px solid;
          border-radius: 50%;
          margin-top: -40px;
        }

        .name {
          color: blue;
          font-weight: 600;
          font-size: 14px;
        }

        .date {
          color: gray;
          font-size: 11px;
        }
        h2 {
          font-weight: 400;
          font-size: 20px;
          margin: 10px;
          padding: 10px;
        }

        .ratings {
          border: lightgrey solid 1px;
          width: max-content;
          margin: auto;
          text-align: left;
          display: grid;
          grid-template-columns: auto 6fr 1fr;
          align-items: center;

          .fa-thumbs-up {
            font-size: 1.75em;
            background-color: limegreen;
            color: white;
            padding: 10px 20px;
          }
          .fa-thumbs-down {
            font-size: 1.75em;
            background-color: red;
            color: white;
            padding: 10px 20px;
          }

          .starList {
            padding: 10px 15px;

            .fa-star {
              color: gold;
              font-size: 1.25em;
              padding: 2.5px;
            }
            .starGrey {
              color: lightgrey;
            }
          }

          .starRate {
            font-weight: 700;
            font-size: 14px;
          }
        }

        p {
          font-size: 13px;
          padding: 10px;
          margin: 10px auto;
          text-align: left;
          width: 75%;
          cursor: pointer;
          mask-image: linear-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
          );
        }
        p:hover {
          font-size: 15px;
          mask-image: none;
          transition: all ease-in-out 200ms;
        }

        textarea {
          display: block;
          width: 70%;
          height: 100px;
          margin: auto;
          padding: 5px 10px;
        }

        .comments {
          background-color: rgb(236, 236, 236);
          width: 85%;
          height: max-content;
          margin: auto;
          padding: 10px;
          padding-bottom: 35px;
          text-align: center;

          .arrow {
            margin: auto;
            margin-top: -25px;
            width: 50px;
            height: 30px;
            background-color: rgb(236, 236, 236);
            clip-path: polygon(50% 0%, 0% 50%, 100% 50%);
          }

          h4 {
            font-size: 14px;
          }
          .managerComments {
            text-align: left;
            font-size: 13px;
            cursor: pointer;
            mask-image: linear-gradient(
              rgba(236, 236, 236, 1),
              rgba(236, 236, 236, 0)
            );
          }
          .managerComments:hover {
            font-size: 14px;
            mask-image: none;
            transition: all ease-in-out 200ms;
          }
        }
        .managerImg {
          display: block;
          width: 60px;
          height: 60px;
          margin: auto;
          margin-top: -30px;
        }
        .managerName {
          font-size: 13px;
          font-weight: 700;
        }
        .managerDesig {
          font-size: 12px;
          padding-bottom: 20px;
        }
        button {
          cursor: pointer;
          text-transform: uppercase;
          padding: 15px 60px;
          margin: 10px;
          margin-bottom: 25px;
          border: none;
          background-color: gold;
          color: purple;
          font-weight: 700;
          font-size: 13px;
        }
        button:focus {
          outline: none;
        }
      }
    }

    footer {
      p {
        padding: 20px;
        text-align: center;
        color: grey;
        font-size: 14px;
      }
    }
  }
}
@media all and (max-width: 700px) {
  body {
    header {
      padding-left: 30px;
      padding-right: 30px;
      .navBar {
        height: 70px;
        button {
          height: 70px;
        }
      }
    }
    .content {
      .holderDiv {
        margin-top: -50px;
        width: 100%;
        .userComments {
          width: 75%;
          h2 {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
@media all and (max-width: 450px) {
  body {
    .navBarMob {
      display: block;
      height: 80px;
      width: 100%;
      background-color: rgb(255, 229, 255);
      padding: 20px;

      button {
        position: relative;
        top: 50%;
        transform: translate(0%, -75%);
        border: none;
        background-color: rgb(255, 229, 255);
      }
      button:focus {
        outline: none;
      }
      .hidden {
        display: none;
      }
      .fa-bars {
        font-size: 30px;
      }
      .fa-times {
        font-size: 35px;
      }

      img {
        height: 40px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -35%);
      }

      .modal {
        display: none;
        position: absolute;
        top: 80px;
        left: 0px;
        width: 350px;
        height: 200px;
        background-color: rgb(255, 236, 255);
        ul {
          list-style: none;
          border: purple solid 2px;
          li {
            padding-left: 15px;
            width: 100%;
            height: 50px;
            border-bottom: purple 1px solid;
            display: flex;
            align-items: center;
            font-size: 13px;
            a {
              text-decoration: none;
              color: maroon;
            }
          }
          li:hover,
          .active {
            background-color: rgb(236, 116, 236);
          }
        }
      }
    }
    header {
      height: 400px;
      .navBar {
        display: none;
      }
    }
    .content {
      .holderDiv {
        padding-top: 100px;
        .userComments {
          width: 100%;
          margin-top: 75px;
        }
      }
    }
  }
}
@media all and (min-width: 1000px) {
  body {
    header {
      .navBar {
        width: 70%;
        height: 100px;
        padding-left: 30px;

        button {
          height: 100px;
        }
      }
    }
    .content {
      .holderDiv {
        width: 70%;
        .userComments {
          width: 75%;
          position: relative;
          top: -125px;
          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }
}
